$font-family: 'Libre Baskerville', serif;

#root > main > div:nth-child(3) > div:nth-child(1) > div > div > div{
  font-family: $font-family;
  font-size: 30px;
}

#root > main > div:nth-child(3) > div:nth-child(9) > div > div > div {
  font-family: $font-family;
  font-weight: bold;
}

#root > main > div:nth-child(3) > div:nth-child(5) > div > div > div {
  font-family: $font-family;
  font-size: 12px;
}