.is-hidden {
  display: none
}

// #root > main > div.MuiContainer-root.MuiContainer-maxWidthSm > span.MuiBox-root.MuiBox-root-10.profile-info > div > button > div {
//   height: 100px;
//   width: 100px;
// }

// #root > main > div.MuiContainer-root.MuiContainer-maxWidthMd > span.MuiBox-root.MuiBox-root-10.profile-info > div > div.MuiGrid-root.MuiGrid-container.MuiGrid-item.MuiGrid-grid-md-true > button {
//   padding: 10px;
//   margin: 10px;
// }

// #root > main > div.MuiContainer-root.MuiContainer-maxWidthMd > span.MuiBox-root.MuiBox-root-10.profile-info > div > div.MuiGrid-root.MuiGrid-container.MuiGrid-item.MuiGrid-grid-md-true > div {
//   padding: 10px;
//   margin-top: 20px;
// }

// #root > main > div.MuiContainer-root.MuiContainer-maxWidthMd > span.MuiBox-root.MuiBox-root-10.profile-info > div > div:nth-child(2) {
//   display: flex;
//   justify-content: center;
//   align-content: stretch;
// }

// .followers {
//   padding: 10px;
//   align-content: center;
//   margin: 10px;
// }

// #root > main > div.MuiContainer-root.MuiContainer-maxWidthMd > span.MuiBox-root.MuiBox-root-10.profile-info > div > div.MuiGrid-root.followers.MuiGrid-container.MuiGrid-item.MuiGrid-grid-xs-true > div:nth-child(3) > p, #root > main > div.MuiContainer-root.MuiContainer-maxWidthMd > span.MuiBox-root.MuiBox-root-10.profile-info > div > div.MuiGrid-root.followers.MuiGrid-container.MuiGrid-item.MuiGrid-grid-xs-true > div:nth-child(2) > p, #root > main > div.MuiContainer-root.MuiContainer-maxWidthMd > span.MuiBox-root.MuiBox-root-10.profile-info > div > div.MuiGrid-root.followers.MuiGrid-container.MuiGrid-item.MuiGrid-grid-xs-true > div:nth-child(1) > p{
//   text-align: center;
//   padding: 10px;
// }

// #root > main > div.MuiContainer-root.MuiContainer-maxWidthMd > span.MuiBox-root.MuiBox-root-11.view-buttons > div > button:nth-child(2) {
//   padding: 10px;
// }

// #root > main > div.MuiContainer-root.MuiContainer-maxWidthMd > span.MuiBox-root.MuiBox-root-10.profile-info > div > div.MuiGrid-root.MuiGrid-container.MuiGrid-item.MuiGrid-grid-md-true > div > p:nth-child(1) {
//   font-size: 28px;
//   font-family: 'Libre Baskerville', serif;
// }

.MuiTypography-h1 {
  font-family: $font-family;
}

#root > main > div.MuiContainer-root.MuiContainer-maxWidthMd > div > div > section.spot-grid > ul > li > div > a > img {
  max-width: 500px;
}

#root > main > div.MuiContainer-root.MuiContainer-maxWidthMd {
  margin-top: 5%;
}

#root > main > div.MuiContainer-root.MuiContainer-maxWidthMd > span.MuiBox-root.MuiBox-root-10.profile-info > div {
  padding: 20px;
}

#root > main > div.MuiContainer-root.MuiContainer-maxWidthMd > span.MuiBox-root.MuiBox-root-10.profile-info > div > div > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-1.MuiGrid-item.MuiGrid-grid-md-true > button.MuiButtonBase-root.profile-image {
  margin: 10px;
}

.follow-button{
  padding: 10px;
}
